/* ---------- Index ---------- */

.index {
    width: 60%;
    padding: 275px 20% 0 20%;
    margin: 0px;
}

/* ---------- Header ---------- */

.index_header {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    font-family: cormier;
    color: #f3f3f2;
    border-bottom: 2px solid #f3f3f2;
}

#index_header_text1 {
    width: 50%;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#index_header_text2 {
    width: 50%;
    height: 20px;
    font-size: 18px;
    margin: 0;
    padding: 38px 0 0 0;
    text-align: end;
    text-decoration: underline;
}

.light_header {
    width: 30px;
    height: 30px;
    fill: #f3f3f2;
    position: relative;
    bottom: -26px;
    left: calc(100% - 16px);
    transform: rotate(180deg);
    z-index: 6;
}

.light_header_neon {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    position: relative;
    bottom: -3px;
    left: calc(100% - 9px);
    box-shadow: 0 0 10px 0 #1e9199 inset, 0 0 10px 15px #1e9199;
    z-index: 5;
    background-color: #1e9199;
}

.light_line {
    width: 1px;
    height: 30px;
    background-color: #f3f3f2;
    position: relative;
    bottom: 51px;
    left: calc(100% - 1px);
    z-index: 6;
}

/* ---------- About ---------- */

.about_text {
    color: #f3f3f2;
    padding: 0;
    margin: 50px calc(50% - 300px) 0 calc(50% - 300px);
    width: 600px;
    font-family: calibri;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.about_div {
    display: flex;
    padding: 0;
    margin: 100px 0 0 0;
}

.about_img1 {
    width: 66%;
    padding: 0;
    margin: 0 2% 0 0;
    border-radius: 20px;
}

.about_img2 {
    width: 32%;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.about_quote {
    margin: 100px calc(50% - 151px) 50px calc(50% - 151px);
    padding: 40px 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    color: #f3f3f2;
    font-size: 30px;
    font-family: calibri;
    border: solid 2px #37fff5;
}

.quote_svg1 {
    width: 50px;
    height: 50px;
    fill: #37fff5;
    margin: 0;
    padding: 0;
    position: relative;
    left: calc(50% - 125px);
    top: 130px;
    transform: rotate(180deg);
}

.quote_svg2 {
    width: 50px;
    height: 50px;
    fill: #37fff5;
    margin: 0;
    padding: 0;
    position: relative;
    left: calc(50% + 125px);
    bottom: 75px;
}

/* ---------- Timeline ---------- */

.timeline {
    padding: 0;
    margin: 84px 0 100px 0;
}

.timeline_part1 {
    width: calc(50% - 51px);
    padding: 0 50px 0 0;
    margin: 0 calc(50% - 1px) -16px 0;
    border-right: solid 2px #f3f3f2;
}

.timeline_part2 {
    width: calc(50% - 51px);
    padding: 0 0 0 50px;
    margin: 0 0 -16px calc(50% - 1px);
    border-left: solid 2px #f3f3f2;
}

.timeline_start_end {
    width: calc(50% - 51px);
    height: 100px;
    padding: 0 50px 0 0;
    margin: 16px calc(50% - 1px) 0 0;
    border-right: solid 2px #f3f3f2;
}

.timeline_title1 {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0;
    color: #f3f3f2;
    text-align: end;
    font-size: 30px;
    font-family: cormier;
}

.timeline_title2 {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0;
    color: #f3f3f2;
    font-size: 30px;
    font-family: cormier;
}

.timeline_description1 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f3f3f2;
    text-align: end;
    font-size: 20px;
    font-family: calibri;
    line-height: 30px;
}

.timeline_description2 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f3f3f2;
    font-size: 20px;
    font-family: calibri;
    line-height: 30px;
}

.timeline_date1 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f3f3f2;
    font-size: 20px;
    font-family: calibri;
    text-align: end;
}

.timeline_round1 {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    background-color: #1e9199;
    box-shadow: 0 0 7px 0 #1e9199 inset, 0 0 7px 7px #1e9199;
    position: relative;
    left: calc(100% + 46px);
    bottom: 18px;
}

.timeline_span {
    border: 2px solid #1e9199;
    margin: 0;
    padding: 12px 14px 10px 14px;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 #1e9199 inset, 0 0 10px 5px #1e9199;
}

.timeline_date2 {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f3f3f2;
    font-size: 20px;
    font-family: calibri;
}

.timeline_round2 {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    background-color: #1e9199;
    box-shadow: 0 0 7px 0 #1e9199 inset, 0 0 7px 7px #1e9199;
    position: relative;
    right: 56px;
    bottom: 18px;
}

.timeline_space {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

.under_slide_hover {
    color: #f3f3f2;
    font-family: cormier;
    padding: 8px 7px 2px 5px;
    box-shadow: inset 0 0 0 0 #1e9199;
    border-radius: 5px;
    transition: box-shadow .2s ease-in-out;
}

.under_slide_hover:hover {
    box-shadow: inset 200px 0 0 0 #1e9199;
}

.under_slide_svg {
    fill: #37fff5;
    position: relative;
    top: 15px;
    margin: 0 5px;
}