/* ---------- Contact ---------- */

.contact {
    width: 60%;
    padding: 250px 20% 0 20%;
}

/* ---------- Header ---------- */

.contact_header {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 0 50px 0;
    font-family: cormier;
    color: #f3f3f2;
    border-bottom: 2px solid #f3f3f2;
}

#contact_header_text1 {
    width: 50%;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#contact_header_text2 {
    width: 50%;
    height: 20px;
    font-size: 18px;
    margin: 0;
    padding: 38px 0 0 0;
    text-align: end;
}

/* ---------- Input ---------- */

.form__group {
    position: relative;
    padding: 15px calc(50% - 350px) 0 calc(50% - 350px);
    margin-top: 10px;
    margin-bottom: 25px;
    width: 700px;
}
.form__field {
    font-family: calibri;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    outline: 0;
    font-size: 20px;
    color: #f3f3f2;
    padding: 7px 0;
    background: transparent;
    transition-duration: 0.2s;
    transition-property: border-color;
}
.form__field::placeholder {
    color: transparent;
    font-family: calibri;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 20px;
    font-family: calibri;
    top: 20px;
}
.form__label {
    position: absolute;
    top: -7px;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #808080;
    font-family: calibri;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #9632f3;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: -7px;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #9632f3;
    font-weight: 700;
}

.form__field:focus + .form__label .form_svg {
    top: 4px;
    width: 20px;
    height: 20px;
    fill: #9632f3;
}

#message {
    resize: vertical;
    height: 200px;
    min-height: 200px;
    max-height: 500px;
}

.form_svg {
    width: 24px;
    height: 24px;
    fill: #808080;
    position: relative;
    top: 5px;
    transition-duration: 0.2s;
    transition-property: fill width height top;
}

/* ---------- Button ---------- */

#contact_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cormier;
    font-size: 25px;
    padding-top: 5px;
    color: #f3f3f2;
    width: 200px;
    height: 50px;
    border: 2px solid #9632f3;
    box-shadow: 0 0 40px 40px #9632f3 inset, 0 0 0 0 #9632f3;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background: rgba(150, 50, 243, 0.25);
    border-radius: 25px;
    margin: 50px calc(50% - 100px) 0 calc(50% - 100px);
    outline: 0;
}

#contact_button:hover {
    color: #f3f3f2;
    border-color: #9632f3;
    box-shadow: 0 0 10px 0 #9632f3 inset, 0 0 10px 4px #9632f3;
}

/* ---------- Alert ---------- */

#alert_fill {
    display: block;
    color: #f3f3f2;
    font-family: calibri;
    font-size: 18px;
    background-color: #1e9199;
    outline: 3px solid #37fff5;
    border-radius: 3px;
    margin: 0;
    padding: 8px 16px 10px 16px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition-property: transform;
    transition-duration: 300ms;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 13;
}

#alert_fill_background {
    display: block;
    background-color: #37fff5;
    outline: 3px solid #37fff5;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 315.66px;
    height: 49px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition-property: transform;
    transition-duration: 300ms;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 12;
}

.alert_icon {
    position: relative;
    top: 6px;
    width : 24px;
    height: 24px;
}

#alert_sucess {
    display: block;
    color: #f3f3f2;
    font-family: calibri;
    font-size: 18px;
    background-color: #1e9199;
    outline: 3px solid #37fff5;
    border-radius: 3px;
    margin: 0;
    padding: 8px 16px 10px 16px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition-property: transform;
    transition-duration: 300ms;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 13;
}

#alert_sucess_background {
    display: block;
    background-color: #37fff5;
    outline: 3px solid #37fff5;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 159.78px;
    height: 49px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition-property: transform;
    transition-duration: 300ms;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 12;
}
